.moviePage {
  display: flex;
  gap: 5%;
  text-align: center;
  display: none;
}

.moviePoster {
  width: 40%;
  height: 100%;
}
.moviePosterImg {
  border: 3px solid #0a6ab5;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movieDesc {
  width: 60%;

}

.movieNotFound {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
